
<div class="box" style="width: 250px;">
    <img style="width: 30%; display: block; margin-left: auto; margin-right: auto;" src="/static/logo.png" alt="">
    <hr>
    <p class="title is-5"></p>
    <!-- <p class="subtitle">This column is only 200px wide.</p> -->
    <form>
        <input class="button is-light is-fullwidth" value="Dashboard" onclick="window.location.href='/page1.html';">
        <br>
        <input class="button is-light is-fullwidth" value="Camera List" onclick="window.location.href='/page2.html';">
    </form>

</div>