<table class="table is-bordered">
    <thead>
      <tr>
        <th>Unit</th>
        <th>Camera</th>
        <th>In</th>
        <th>Out</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Dhaka(Unit 1)</th>

        <td>Main Gate</td>
        <td>23</td>
        <td>12</td>
        <td>220</td>
      </tr>
      <tr>
        <th>Dhaka(Unit 1)</th>

        <td>Main Gate</td>
        <td>23</td>
        <td>12</td>
        <td>220</td>
      </tr>
      <tr>
        <th>Chitagong(Unit 1)</th>

        <td>Main Gate</td>
        <td>12</td>
        <td>45</td>
        <td>123</td>
      </tr>
    </tbody>
  </table>