<!doctype html>
<html>
<head>
    <title>Flask Video Streaming</title>
</head>
<body>
    <h1>Total Count Up: <span id="total-up">0</span></h1>
    <h1>Total Count Down: <span id="total-down">0</span></h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = new WebSocket('ws://' + window.location.host + '/websocket');
            
            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                document.getElementById('total-up').innerHTML = data.totalUp;
                document.getElementById('total-down').innerHTML = data.totalDown;
            };
        });
    </script>
</body>
</html>
